<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>Suicide rates analysis</title>
 
</head>
<body>
  <div class="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <a class="navbar-brand" href="/">Suicide Analysis Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plots
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="gender">Suicides By Gender</a>
                  <a class="dropdown-item" href="generation">Suicides By Generation</a>
                  <a class="dropdown-item" href="byAge">Suicides By Age</a>
                  <a class="dropdown-item" href="byCountry">Suicides By Country</a>
                  <a class="dropdown-item" href="yearlyRates">Yearly Suicide Rates</a>
                  <a class="dropdown-item" href="gdp_scatter">Suicides vs GDP</a>
                  <a class="dropdown-item" href="hdi_scatter">Suicides vs HDI</a>
              </div>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="map">Map</a>
              </li>
              
          </ul>
      </div>
    </nav>

    <div class="top-container" id = "figures">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-3">
                <a href ="gender">
                  <img src="{{ url_for('static', filename='images/suicides_by_gender.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
              <div class="col-3">
                <a href ="generation">
                  <img src="{{ url_for('static', filename='images/suicides_by_generation.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
              <div class="col-3">
                <a href ="byAge">
                  <img src="{{ url_for('static', filename='images/suicides_by_age.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
              <div class="col-3">
                <a href ="byCountry">
                  <img src="{{ url_for('static', filename='images/top_ten_countries.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class = "row">
              <div class="col-3">
                <a href ="yearlyRates">
                  <img src="{{ url_for('static', filename='images/suicides_by_year.png') }}" alt="cable img" class="img-fluid" style="border: 2px solid #2E86C1;">
                </a>
              </div>
              <div class="col-3">
                <a href ="gdp_scatter">
                  <img src="{{ url_for('static', filename='images/suicide_vs_gdp.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
              
              <div class="col-3">
                <a href ="hdi_scatter">
                  <img src="{{ url_for('static', filename='images/suicides_vs_hdi.png') }}" alt="cable img" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  

  <div class="container">
    <h3> Suicides per 100k Over Years </h3>
    <hr>
    <div class="row">
      <div class="col-7">
          <div id="line_yearly"></div>
      </div>
      <div class="col-5">
        <p class = "analysis">
          The Average number of suicides per 100,000 declined in 1986 after which there was an upward trend and 
          a sharp peak in 1995. The number then steadily declined until 2010 and then increased in 2012 and 2015
        </p>
      </div>
    </div>
  </div>
  

  
  <!-- <script src="static/d3.js"></script> -->
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- D3.js CDN -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!--Plotly JS-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/yearlyRates.js"></script>
</body>
</html>
